.logo--bp {
    svg {
        height: 0;
        transition: all $durationSM;

        circle {
            transform-origin: center;
            transform: scale(0);
            transition: all $durationSM;
        }

        path {
            transform-origin: center;
            transform: scale(0) rotate(90deg);
            transition: all $durationSM;
        }
    }

    &:hover,
    &:active,
    &:focus {
        svg {
            height: 100%;

            circle {
                transform: scale(1);
                transition-delay: $durationSM;
            }

            path {
                transform: scale(1) rotate(0);
                transition-delay: $durationSM*2;
            }
        }
    }
}

.button--bp {
    display: inline-flex;
    align-items: center;
    height: $buttonHeight;
    margin: $spaceSM 0;
    padding: $spaceXS $spaceSM;
    background-color: $secondary;
    background-image: linear-gradient(
        to bottom right,
        $secondaryLight,
        $secondary 20%,
        $secondaryDark
    );
    background-size: 200%;
    background-position-x: 100%;
    color: $black00;
    font-size: $fontSizeSM;
    line-height: $lineHeightXS;
    transition: all $durationSM;

    @media #{$maxSM} {
        font-size: $fontSizeXS;
    }

    svg {
        margin-left: $spaceXS;

        path {
            fill: $secondary;
        }
    }

    &:hover,
    &:active,
    &:focus {
        background-position-x: 0%;
    }
}