.map-container {
    scroll-behavior: auto;
    background-color: $primaryDark;
    background-image: url('../img/bg/map.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    body {
        background-color: transparent;
    }
}

.map {
    font-family: $fontMain, serif;
    user-select: none;
    cursor: grab;
    transition: width $durationXS linear;

    &.js-grabbing {
        cursor: grabbing;

        * {
            cursor: grabbing;
        }
    }

    h1 {
        display: none;
    }
}
