@mixin mapZoom($level: a) {
    .level-#{$level} {
        display: block;
    }

    @if $level == a {
        .map {
            .pays {
                cursor: pointer;

                &:hover {
                    .pays-zone {
                        stroke-opacity: 1;
                    }
                }
            }

            .region-zone {
                display: none;
            }

            .grid-b,
            .grid-c,
            .ville,
            .fleuve {
                opacity: 0;
            }
        }
    } @else if $level == b {
        .map {
            .region-zone {
                cursor: pointer;
                stroke-width: 0.5px;

                &:hover {
                    stroke-opacity: 1;
                }
            }

            .grid-a,
            .grid-c,
            .ville,
            .nom-pays,
            .fleuve text {
                opacity: 0;
            }

            .grande-ville {
                opacity: 1;
            }

            .nom-ocean {
                opacity: 0.4;
            }
        }
    } @else if $level == c {
        .map {
            .grid-a,
            .grid-b,
            .nom-pays {
                opacity: 0;
            }

            .nom-montagne {
                g:hover {
                    opacity: 1;
                }
            }

            .nom-ocean {
                opacity: 0.3;
            }
        }
    }
}

[data-zoom="1"] {
    @include mapZoom(a);
}

[data-zoom="1.5"] {
    @media #{$maxMD} {
        @include mapZoom(a);
    }

    @media #{$minMD} {
        @include mapZoom(b);
    }
}

[data-zoom="2"],
[data-zoom="2.5"] {
    @media #{$maxMD} {
        @include mapZoom(a);
    }

    @media #{$minMD} {
        @include mapZoom(c);
    }
}

[data-zoom="3"],
[data-zoom="3.5"] {
    @media #{$maxMD} {
        @include mapZoom(b);
    }

    @media #{$minMD} {
        @include mapZoom(c);
    }
}

[data-zoom="4"],
[data-zoom="4.5"] {
    @include mapZoom(c);
}
