.author-banner {
    .container {
        align-items: flex-start;

        @media (min-width: 680px) {
            flex-wrap: nowrap;
        }

        aside {
            padding-bottom: 0;
        }
    }

    h1 {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }

    .wave {
        transform: scaleX(-1) translateY(1px);
    }
}