.comments-banner {
    background-image: url('../img/bg/comments.png');

    article {
        text-align: center;

        @media #{$minSM} {
            padding-bottom: 0;
            margin-left: auto;
        }

        @media #{$minMD} {
            margin-right: auto;
        }
    }

    .wave {
        transform: scaleX(-1) translateY(1px);
    }
}