.home-intro {
    margin: 0 auto;
    padding: $spaceMD;

    @media #{$minMD} {
        padding: 0 $spaceMD;
    }

    svg {
        width: 120px;
        margin: 0 auto;
    }

    p {
        margin: $spaceMD 0;
    }
}