.home-lore {
    background-color: $secondary;
    background-image: linear-gradient(
        to bottom,
        $secondary,
        $secondaryDark
    );

    .wave {
        &:first-child {
            transform: scaleY(-1) translateY(1px);
        }

        &:last-child {
            transform: scaleX(-1) translateY(1px);
        }
    }

    article {
        @media #{$minMD} {
            margin: 0 $spaceXL;
        }

        h2 {
            text-align: center;
            color: $secondaryUltraLight;
        }

        p {
            color: $white00;
        }

        .buttons {
            margin-top: $spaceMD;
        }

        svg {
            width: 60%;
            margin: 0 auto;
            fill: transparent;
            stroke: $secondaryDark;
            stroke-width: $line;
            transition: stroke-dashoffset 3s linear, fill $durationMD linear;
        }

        &:hover {
            svg {
                fill: $secondary;
                transition-delay: 0s, 2.5s;
            }
        }

        &:not(:hover) {
            svg {
                stroke-dashoffset: 0;
            }
        }
    }
}