.home-trailer {
    text-align: center;
    padding-bottom: $spaceLG;

    h2 {
        margin: $spaceMD;
    }

    small {
        margin: $spaceMD auto;
        padding: 0 $spaceMD;
        font-size: $fontSizeXXS;
        color: $grey40;
    }

    aside {
        margin-left: auto;
        margin-right: auto;
        margin-top: $spaceXXL;
        padding: 0 $spaceMD;
    }
}