{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Les Noces d’Ombre et de Fumée</title>
    <meta name="description" content="Fantasy romantique adulte en un seul tome, d’inspiration Renaissance italienne, avec une intrigue féministe dans un univers patriarcal où la magie est mortelle pour les femmes." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav('nof')}}

    <main>
        <section class="banner-fixed-image banner-fixed-image--nof">
            <div class="container padding-top--xl">
                <img src="/img/medias/nof-all.png" class="img img--md" alt="Les Noces d’Ombre et de Fumée (formats ebook, broché et relié)"/>

                <article class="maxwidth--md text--sm text--margin-sm">
                    <h1>Les Noces d’Ombre et de Fumée</h1>

                    {% include 'content/nof-quatrieme.njk' %}

                    <div class="buttons">
                        <a href="{{websites.buy.nof.ebook}}" class="button button--white button--active-primary" rel="external" target="_blank">
                            Acheter
                        </a>
                    </div>
                </article>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <h2 class="title--header">
            Disponible en&hellip;
        </h2>

        <section class="container container--flex-start text--center">
            <article class="card card--white maxwidth--xxs text--margin-sm">
                <img src="/img/medias/nof-ebook.png" class="img img--height-sm centered" alt="Les Noces d’Ombre et de Fumée (en ebook)"/>

                <h3>Ebook <i class="badge badge--secondary">4<small>,99</small>&nbsp;€</i></h3>

                <p>Envoi du epub sur demande.</p>
                <p><small>Contactez-moi sur Instagram avec une capture d’écran du récapitulatif d’achat.</small></p>

                <div class="buttons">
                    <a href="{{websites.buy.nof.ebook}}" class="button button--primary" rel="external" target="_blank">
                        Acheter
                    </a>
                </div>
            </article>

            <article class="card card--white maxwidth--xxs text--margin-sm">
                <img src="/img/medias/nof-paperback.png" class="img img--height-sm centered" alt="Les Noces d’Ombre et de Fumée (en broché)"/>

                <h3>Broché <i class="badge badge--secondary">17<small>,90</small>&nbsp;€</i></h3>

                <p>Couverture souple, même contenu que le relié.</p>
                <p>470 pages.</p>

                <div class="buttons">
                    <a href="{{websites.buy.nof.paperback}}" class="button button--primary" rel="external" target="_blank">
                        Acheter
                    </a>
                </div>
            </article>

            <article class="card card--white maxwidth--xxs text--margin-sm">
                <img src="/img/medias/nof-hardback.png" class="img img--height-sm centered" alt="Les Noces d’Ombre et de Fumée (en relié)"/>

                <h3>Relié <i class="badge badge--secondary">23<small>,90</small>&nbsp;€</i></h3>

                <p>Couverture rigide, même contenu que le broché.</p>
                <p>470 pages.</p>

                <div class="buttons">
                    <a href="{{websites.buy.nof.hardback}}" class="button button--primary" rel="external" target="_blank">
                        Acheter
                    </a>
                </div>
            </article>
        </section>

        <section class="basic-container text--center">
            <aside>
                <p>Et <strong>gratuitement</strong> dans votre <strong>abonnement Kindle&nbsp;!</strong></p>
                <img src="/img/medias/amazon-kindle.svg" class="img img--xs centered margin-top--sm" alt="Amazon Kindle"/>
            </aside>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}