{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Les Noces d’Ombre et de Fumée</title>
    <meta name="description" content="Fantasy romantique adulte en un seul tome, d’inspiration Renaissance italienne, avec une intrigue féministe dans un univers patriarcal où la magie est mortelle pour les femmes." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav('nof')}}

    <main>
        <section class="banner-gradient banner-gradient--dark-secondary">
            <div class="container">
                <article class="maxwidth--md text--margin-sm">
                    <h1>Les Noces d’Ombre et de Fumée</h1>

                    {% include 'content/nof-quatrieme.njk' %}

                    <div class="buttons">
                        <a href="{{websites.buy.nof.ebook}}" class="button button--white button--active-primary" rel="external" target="_blank">
                            Acheter
                        </a>
                    </div>
                </article>

                <img src="/img/medias/nof-paperback.png" class="img img--md" alt="Les Noces d’Ombre et de Fumée (format broché)"/>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <h2 class="title--header">
            Disponible en&hellip;
        </h2>

        <section class="container text--center">
            <article class="maxwidth--xxs text--margin-sm">
                <img src="/img/medias/nof-ebook.png" class="img img--md" alt="Les Noces d’Ombre et de Fumée (en ebook)"/>

                <p><strong>Format Kindle</strong></p>
                <small>Et dans l’abonnement Kindle</small>
                <small><em>Envoi du epub par mail sur preuve d’achat du ebook sur Amazon – contactez-moi sur mes réseaux sociaux</em></small>
            </article>

            <article class="maxwidth--xxs text--margin-sm">
                <img src="/img/medias/nof-paperback.png" class="img img--md" alt="Les Noces d’Ombre et de Fumée (en broché)"/>

                <p><strong>Broché</strong></p>
            </article>

            <article class="maxwidth--xxs text--margin-sm">
                <img src="/img/medias/nof-hardback.png" class="img img--md" alt="Les Noces d’Ombre et de Fumée (en relié)"/>

                <p><strong>Relié</strong></p>
            </article>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}