{% extends "layout.njk" %}

{% block head %}
    <title>Les Noces d’Ombre et de Fumée - Trigger warnings</title>
    <meta name="description" content="Trigger warnings des Noces d’Ombre et de Fumée : grossesse, avortement, meurtre, suicide, misogynie, sexisme, relations sexuelles explicites, mentions de viol." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav()}}

    <main>
        <section class="banner-gradient banner-gradient--dark-secondary">
            <div class="container container--wrap-reverse">
                <article class="maxwidth--sm text--margin-sm">
                    <h1 class="title--header">Trigger warnings</h1>

                    <p>
                        <em>Les Noces d’Ombre et de Fumée</em> est un roman adulte. Il est moins violent que <em>Les Carmidor</em> mais contient néanmoins plusieurs thèmes sensibles.
                    </p>
                </article>

                <img src="/img/medias/nof-paperback.png" class="img img--sm" alt="Les Noces d’Ombre et de Fumée (format broché)"/>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="container">
            <article class="text--center text--margin-sm">
                <h2>Thèmes sensibles abordés</h2>

                <p>Grossesse et avortement</p>

                <p>Scènes de meurtre et de suicide</p>

                <p>Misogynie, sexisme</p>

                <p>Mentions de viol <small>(événement passé et jamais détaillé)</small></p>

                <p>Relations sexuelles explicites <small>(consenties)</small></p>
            </article>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}