.buy-banner {
    background-color: $primaryDark;
    background-image: url('../img/bg/buy.png');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    text-shadow: $textShadowMD;
    padding-top: $spaceXL;

    .buttons {
        @media #{$maxMD} {
            margin-bottom: $spaceXL;
        }
    }
}