.booknook {
    display: flex;
    justify-content: center;

    article {
        @media #{$minSM} {
            display: flex;
            align-items: flex-start;
        }

        svg {
            fill: $primary;
            width: 140px;
            max-width: 40%;
            flex-shrink: 0;

            @media #{$maxSM} {
                margin: 0 auto;
                margin-bottom: $spaceMD;
            }

            @media #{$minSM} {
                margin-right: $spaceLG;
            }
        }

        h2 {
            @media #{$maxSM} {
                text-align: center;
            }
        }
    }
}