.banner-gradient {
    color: $white00;

    a {
        color: $white00;
    }

    @each $colorName, $color in $colors {
        &--#{$colorName},
        &--dark-#{$colorName} {
            h1,
            h2,
            h3,
            small {
                color: map-get($color, "ultraLight");
            }

            p {
                color: $white00;
            }
        }

        &--#{$colorName} {
            background-color: map-get($color, "main");
            background-image: linear-gradient(
                to bottom,
                map-get($color, "main"),
                map-get($color, "dark")
            );
        }

        &--dark-#{$colorName} {
            background-color: $black00;
            background-image: linear-gradient(
                to bottom,
                $black00,
                map-get($color, "ultraDark")
            );
        }
    }
}

.banner-image {
    color: $white00;
    background-color: $black00;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;

    a {
        color: $white00;
    }

    article {
        background-color: color.adjust($black00, $alpha: -0.5);

        p {
            color: $grey10;

            small {
                color: $grey30;
            }
        }
    }

    @each $page in 'meetings', 'podcasts', 'services' {
        &--#{$page} {
            background-image: url('../img/bg/#{$page}.png');
        }
    }
}

.banner-fixed-image {
    color: $white00;
    text-shadow: $textShadowMD;
    background-color: $black00;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    a {
        color: $white00;
    }

    @each $page in 'podcasts', 'nof' {
        &--#{$page} {
            background-image: url('../img/bg/#{$page}-lg.png');
        }
    }
}