.img {
    display: block;
    padding: 0 $spaceMD;

    &--sm {
        width: 50%;
        min-width: 180px;
        max-width: 280px;
    }

    &--md {
        width: 50%;
        min-width: 250px;
        max-width: 350px;
    }
}