.popin {
    position: fixed;
    z-index: $z-index-popin;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: calc(100% - #{$navHeight});
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: $white00;
    transform: translateY(100%);
    transition: all $durationSM;

    @media #{$minSM} {
        max-height: calc(100% - #{$navHeight + $spaceSM * 2});
        right: $spaceSM;
        width: map-get($widths, "sm");
    }

    &.js-active {
        transform: translateY(0);
        box-shadow: $blackShadowMD;

        @media #{$minSM} {
            bottom: $spaceSM;
        }

        .popin {
            &__content {
                &__text {
                    svg {
                        transition: all 3s linear $durationSM;
                        stroke-dashoffset: 0;
                    }
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0 $spaceMD;
        padding: $spaceMD 0;

        &--border {
            border-bottom: $line solid $secondaryUltraLight;
        }

        h2 {
            margin: $spaceXXS 0;
        }

        button {
            flex-shrink: 0;
            height: $buttonHeight;
            background: none;
            border: none;
            padding: $spaceXS 0;

            svg {
                height: 100%;
                fill: none;
                stroke: $grey40;
                stroke-width: 2;
                transition: all $durationSM;
            }

            &:hover,
            &:active,
            &:focus {
                svg {
                    stroke: $black00;
                }
            }
        }
    }

    &__content {
        overflow: auto;

        &__banner {
            width: 100%;
        }

        &__text {
            padding: $spaceMD;

            p {
                font-size: $fontSizeSM;
                margin-bottom: $spaceSM;

                &:last-child {
                    margin-bottom: 0;
                }

                &.emphasis {
                    font-family: $fontMain, serif;
                    font-weight: $bold;
                    font-variant: small-caps;
                    letter-spacing: $spacingSM;
                    font-size: $fontSizeXL;
                    color: $secondary;

                    strong {
                        color: $secondary;

                        &:hover {
                            background-color: $secondaryUltraLight;
                        }
                    }
                }

                strong {
                    cursor: pointer;
                    font-weight: $bold;
                    color: $primary;
                    transition: all $durationSM;

                    &:hover {
                        background-color: $primaryUltraLight;
                    }
                }
            }

            svg {
                float: left;
                max-width: 25%;
                max-height: 100px;
                margin-right: $spaceMD;
                margin-bottom: $spaceSM;
                fill: transparent;
                stroke: $secondary;
                stroke-width: 2;
            }
        }
    }

    &__footer {
        display: grid;
        grid-template-areas:
            "title banner"
            "name banner";
        padding: $spaceXS $spaceMD;
        background-image:
            linear-gradient(to right, #{$white20} 30%, transparent 70%),
            url($toile);
        background-blend-mode: normal, overlay;
        background-size: cover;

        span {
            margin-top: $spaceSM;
            text-transform: uppercase;
            letter-spacing: $spacingXL;
            font-weight: $bold;
            font-size: $fontSizeXXS;
            color: $grey40;
        }

        p {
            margin-bottom: $spaceXXS;
            font-family: $fontMain, serif;
            font-size: $titleSizeMD;
        }

        &::after {
            content: '';
            grid-area: banner;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
        }

        @each $family, $color in $families {
            &--#{$family} {
                background-image:
                    linear-gradient(to right, #{$white20} 30%, transparent 70%),
                    url($toile),
                    radial-gradient(map-get($color, "main"), map-get($color, "dark"));
                
                &::after {
                    background-image: url(../img/banners/#{$family}.svg);
                }
            }
        }
    }
}
