figure {
    max-width: map-get($widths, "lg");
    margin: $spaceMD 0;
    color: $black00;
}

blockquote {
    position: relative;
    margin: 0;
    padding: 0 $spaceXL;

    @media #{$maxSM} {
        padding: 0 $spaceLG;
    }

    &::before,
    &::after {
        position: absolute;
        opacity: 0.5;
        line-height: $lineHeightXS;
        font-size: $fontSizeLG;
    }

    &::before {
        content: '«';
        left: 0;
        top: 0;
    }

    &::after {
        content: '»';
        right: 0;
        bottom: 0;
    }

    p {
        font-size: $fontSizeSM;
        margin: $spaceXS 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

figcaption {
    margin-top: $spaceSM;
    text-align: center;
    font-family: $fontMain, serif;
    font-style: normal;
    font-size: $fontSizeLG;
    opacity: 0.8;

    cite {
        font-style: normal;
    }
}
