.text {
    &--center {
        h1,
        h2,
        h3,
        p,
        small {
            text-align: center;
        }
    }

    &--xs {
        p {
            font-size: $fontSizeXS;
        }
    }

    &--sm {
        p {
            font-size: $fontSizeSM;
        }
    }

    &--margin-sm {
        p {
            margin: $spaceSM 0;
        }
    }
}