.text {
    &--sm {
        p {
            font-size: $fontSizeSM;
        }
    }

    &--center {
        h2,
        p {
            text-align: center;
        }
    }

    &--margin-sm {
        p {
            margin: $spaceSM 0;
        }
    }
}