.text {
    &--center {
        h1,
        h2,
        h3,
        p,
        li,
        small {
            text-align: center;
        }
    }

    &--xs {
        p,
        li {
            font-size: $fontSizeXS;
        }
    }

    &--sm {
        p,
        li {
            font-size: $fontSizeSM;
        }
    }

    &--margin-sm {
        p,
        li {
            margin: $spaceSM 0;
        }
    }

    @each $colorName, $color in $colors {
        &--#{$colorName} {
            color: map-get($color, "main");
        }
    }
}