.title {
    &--header {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: $spacingMD;
        margin: $spaceMD;
        margin-bottom: $spaceXL;
    }

    &--underline {
        text-align: center;
        margin-left: $spaceMD;
        margin-right: $spaceMD;

        &::after {
            content: '';
            width: $underline;
            height: $line;
            background-color: $secondaryLight;
            margin: $spaceMD auto $spaceXL auto;
        }
    }
}