$strokeOffset: 3100;

.wave {
    .shape {
        fill: $white00;
    }

    .line {
        fill: none;
        stroke: $white00;
        stroke-width: 7px;
        stroke-dasharray: $strokeOffset;
        transition: stroke-dashoffset 5s linear;

        @media #{$minLG} {
            stroke-width: 3px;
        }
    }

    &:first-child {
        transform: translateY(-1px) scaleY(-1);
    }

    &:last-child {
        transform: translateY(1px);
    }
}

.wave-top-reverse {
    .wave {
        &:first-child {
            transform: translateY(-1px) scaleX(-1) scaleY(-1);
        }
    }
}

.wave-bottom-reverse {
    .wave {
        &:last-child {
            transform: translateY(1px) scaleX(-1);
        }
    }
}

*:hover {
    & > .wave {
        .line {
            stroke-dashoffset: $strokeOffset;
        }
    }
}