$durationXS: 0.1s;
$durationSM: 0.3s;
$durationMD: 0.5s;
$durationLG: 0.8s;

@mixin animation($params) {
    $name: animation-#{unique-id()};

    @keyframes #{$name} {
        @content;
    }

    animation: $name $params;
}
