// White and black

$white00: #ffffff;
$white10: #f9f9f9;
$white20: #ececec;
$grey00: #dedede;
$grey10: #cdcdcd;
$grey20: #b1b1b1;
$grey30: #a0a0a0;
$grey40: #888888;
$grey50: #4e4e4e;
$grey60: #292929;
$black00: #000000;

// Main colors

$primary: #750a28;
$secondary: #6441e0;

$primaryLight: #ff6593;
$secondaryLight: #9a81ff;

$primaryUltraLight: #ffb4cd;
$secondaryUltraLight: #ccb1ff;

$primaryDark: #46071d;
$secondaryDark: #110057;

$primaryUltraDark: #300016;
$secondaryUltraDark: #0d0024;

$mainColors: (
    primary: $primary,
    secondary: $secondary,
    white: $white00
);

$colors: (
    primary: (
        main: $primary,
        light: $primaryLight,
        ultraLight: $primaryUltraLight,
        dark: $primaryDark,
        ultraDark: $primaryUltraDark
    ),
    secondary: (
        main: $secondary,
        light: $secondaryLight,
        ultraLight: $secondaryUltraLight,
        dark: $secondaryDark,
        ultraDark: $secondaryUltraDark
    ),
);
