$families: (
    arvagna: (
        main: #8d1897,
        dark: #55025f
    ),
    carmidor: (
        main: #1a627e,
        dark: #08394c
    ),
    firmis: (
        main: #b2a969,
        dark: #42441a
    ),
    jostiral: (
        main: #5e6670,
        dark: #31393f
    ),
    moronard: (
        main: #88130f,
        dark: #4d0707
    ),
    nepeis: (
        main: #2c507c,
        dark: #0c223c
    ),
    pondarque: (
        main: #243446,
        dark: #0b1a21
    ),
    rhodives: (
        main: #1e7536,
        dark: #09411d
    ),
    tordheon: (
        main: #743eb6,
        dark: #280f57
    ),
    virdemis: (
        main: #2c2927,
        dark: #0c0c0b
    ),
);

$toile: '../img/banners/bg.png';