$normal: 400;
$bold: 700;

$fontDefault: 'Martel';
$fontMain: 'Cormorant';

@mixin fontSrc($name) {
    src:
        local(#{$name}),
        url('../fonts/#{$name}.woff2') format('woff2'),
        url('../fonts/#{$name}.woff') format('woff'),
        url('../fonts/#{$name}.ttf') format('truetype');
}

@each $fontWeight in 'Regular', 'ExtraBold' {
    @font-face {
        font-family: $fontDefault;
        @include fontSrc(#{$fontDefault}-#{$fontWeight});
        
        @if ($fontWeight == 'ExtraBold') {
            font-weight: $bold;
        }
        @else {
            font-weight: $normal;
        }
    }
}

@font-face {
    font-family: $fontMain;
    @include fontSrc('#{$fontMain}-Regular');
}

$spacingXS: 0.1em;
$spacingSM: 0.2em;
$spacingLG: 0.3em;
$spacingXL: 0.4em;

$fontSizeBase: 16px;

$fontSizeXXS: 0.7rem;
$fontSizeXS: 0.8rem;
$fontSizeSM: 0.9rem;
$fontSizeMD: 1rem;
$fontSizeLG: 1.1rem;
$fontSizeXL: 1.2rem;
$fontSizeXXL: 1.3rem;

$titleSizeXS: 1.1rem;
$titleSizeSM: 1.4rem;
$titleSizeMD: 1.7rem;
$titleSizeLG: 2rem;
$titleSizeXL: 2.5rem;
$titleSizeXXL: 3rem;

$lineHeightXS: 1;
$lineHeightSM: 1.25;
$lineHeightMD: 1.5;
$lineHeightLG: 2;
