$spaceBase: 3px;

$spaceXXS: $spaceBase;
$spaceXS: $spaceBase * 2;
$spaceSM: $spaceBase * 4;
$spaceMD: $spaceBase * 6;
$spaceLG: $spaceBase * 8;
$spaceXL: $spaceBase * 10;
$spaceXXL: $spaceBase * 15;
