{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Page introuvable</title>
    <meta name="description" content="Erreur 404 : page introuvable. Si vous ne savez pas quoi faire, voici le début des Noces d'Ombre et de Fumée !" />
    <meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav()}}

    <main>
        <section class="banner-gradient banner-gradient--dark-primary">
            <div class="container">
                <img src="/img/medias/skull.png" class="img img--sm" />

                <article class="maxwidth--md text--margin-sm">
                    <h1 class="title--header">Oups</h1>

                    <p>
                        Erreur 404&nbsp;: la page recherchée n'existe pas (elle a peut-être changé d'adresse, ou alors il y a une faute de frappe dans l'URL).
                    </p>

                    <p>
                        Si vous ne savez pas quoi faire, le début de <em>Les Noces d'Ombre et de Fumée</em> est disponible à la lecture juste ci-dessous.
                    </p>

                    <div class="buttons">
                        <a href="#lire" class="link link--white">
                            Lire le début des Noces
                        </a>

                        <a href="/" class="button button--white button--active-secondary">
                            Aller à l'accueil
                        </a>
                    </div>
                </article>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section id="lire">
            {% include 'content/nof-chapter-1.njk' %}
        </section>

        <section class="container">
            <article class="maxwidth--md text--margin-sm text--center">
                <h2 class="title--underline title--underline--secondary">Envie d'en lire davantage&nbsp;?</h2>

                <p>
                    Les chapitres 2, 3, 4 et 5 des <em>Noces d'Ombre et de Fumée</em> sont disponibles gratuitement sur la fiche Amazon&nbsp;! (bouton "Lire l'échantillon")
                </p>

                <div class="buttons">
                    <a href="{{websites.read.nof}}" rel="external" target="_blank" class="button button--primary">
                        Lire la suite sur Amazon
                    </a>
                </div>
            </article>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}