{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Avis des lecteurs</title>
    <meta name="description" content="Quelques commentaires de chroniqueurs et de lecteurs, le tout garanti sans spoilers." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav('comments')}}

    <main>
        <section class="banner comments-banner">
            <article class="maxwidth--md text--margin-sm">
                <h1 class="title--header">Avis des lecteurs</h1>

                <p>
                    Quelques commentaires de chroniqueurs et de lecteurs, le tout garanti sans spoilers.
                </p>

                <div class="buttons">
                    <a href="#votre-avis" class="button button--white button--active-secondary">
                        Laisser un avis
                    </a>
                </div>
            </article>

            {% include 'svg/wave.svg' %}
        </section>

        <h2 class="title--underline">Tome <span>1</span> – Trahir et Survivre</h2>

        <section class="comments-grid">
            {% from 'quote.njk' import quote with context %}

            {% for id, comment in comments %}
                {% if loop.index % 2 %}
                    {% set css = 'button--white button--active-secondary' %}
                {% else %}
                    {% set css = 'button--secondary-dark' %}
                {% endif %}

                <article class="card card--{% if loop.index % 2 %}gradient-{% endif %}secondary">
                    {{quote(comment, buttonCss = css)}}
                </article>
            {% endfor %}
        </section>

        <section class="container" id="votre-avis">
            <article class="maxwidth--lg text--margin-sm text--center">
                <h2 class="title--normal">Votre avis</h2>

                <p>Vous avez lu <em>Les Carmidor</em>&nbsp;? N'hésitez pas à donner votre avis sur les sites ci-dessous&nbsp;: cela permet au roman d'être suggéré à d'autres lecteurs et ça fait très plaisir à l'autrice&nbsp;!</p>

                <div class="container">
                    {% for name, link in websites.comment %}
                        <a href="{{link}}" class="logo logo--sm logo--secondary" rel="external" target="_blank" aria-label="{{name}}">
                            {% include "svg/logos/websites/" + name + "-mini.svg" %}
                        </a>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}