{% extends "layout.njk" %}
{% set map = true %}

{% block head %}
    <title>Les Carmidor - Carte du monde</title>
    <meta name="description" content="Parcourez la carte interactive des terres émergées et explorez les lieux de l'histoire : ceux qu'on protège, ceux qu'on détruit et ceux où l'on périt..." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav('map')}}

    <main class="map">
        <h1>Les terres émergées</h1>

        {% include 'svg/world/map.svg' %}
    </main>

    <section>
        {% for id, place in world %}
            <article class="popin" data-popin="{{id}}">
                <div class="popin__header{% if not place.picture %} popin__header--border{% endif %}">
                    <h2>{{place.title}}</h2>

                    <button type="button">{% include 'svg/icons/cross.svg' %}</button>
                </div>

                <div class="popin__content">
                    {% if place.picture %}
                        <img src="./img/world/{{id}}.png" class="popin__content__banner" />
                    {% endif %}

                    <div class="popin__content__text">
                        {% if place.subtitle|length %}<p class="emphasis">{{place.subtitle | safe}}</p>{% endif %}

                        {% include 'svg/world/zones/' + id + '.svg' ignore missing %}

                        {% for paragraph in place.details %}
                            <p>{{paragraph | safe}}</p>
                        {% endfor %}
                    </div>

                    {% if place.family %}
                        <div class="popin__footer popin__footer--{{place.family}}">
                            <span>Dirigeants</span>
                            <p>Les {{families[place.family]}}</p>
                        </div>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>

    <aside class="map-legend">
        <div class="zoom">
            <button type="button" id="zoomMinus" title="Dézoomer dans la carte" disabled>-</button>

            <button type="button" id="zoomPlus" title="Zoomer dans la carte">+</button>
        </div>

        <div class="echelle">
            <span class="level-a">1&#8239;000&nbsp;km</span>
            <span class="level-b">600&nbsp;km</span>
            <span class="level-c">300&nbsp;km</span>
        </div>
    </aside>

    <script src="js/map.js?v={{version}}"></script>
    <script src="js/popin.js?v={{version}}"></script>
{% endblock %}