{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Autrice de fantasy et romantasy</title>
    <meta name="description" content="Autrice de fantasy et de romantasy adulte, bourrées de complots, de personnages gris et de messages féministes."/>
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav('home')}}

    <main>
        <section class="banner author-banner">
            <div class="container">
                <aside class="person">
                    <img src="/img/medias/me.png" alt="Photo de Olivia Gometz"/>

                    <div class="container">
                        {% for name, website in websites.network %}
                            <a href="{{website.link}}" class="logo logo--sm logo--white" rel="external" target="_blank" aria-label="{{website.desc}}">
                                {% include "svg/logos/networks/" + name + ".svg" %}
                            </a>
                        {% endfor %}
                    </div>
                </aside>

                <article class="maxwidth--md text--margin-sm">
                    <h1 class="title--header">Olivia Gometz</h1>

                    <p>
                        Fantasy, <strong>romantasy</strong>, complots, féminisme, personnages gris&nbsp;: j’écris des <strong>romans adulte</strong> et j’en parle sur les réseaux sociaux.
                    </p>

                    <p>
                        Mais au bout d’un moment, c’est bien aussi d’avoir un site internet.
                    </p>

                    <p>
                        <small>
                            Féministe, passionnée d'histoire médiévale et grande amatrice de vin – selon elle le meilleur carburant pour une autrice de fantasy&nbsp;!&nbsp;–, Olivia Gometz commence à écrire très jeune et publie sur internet depuis 2006.
                        </small>
                    </p>

                    <p>
                        <small>
                            Les intrigues de pouvoir, les liens familiaux et la place des femmes dans des sociétés très codifiées sont autant de thèmes qui inspirent ses romans – à ne surtout pas mettre entre des mains trop innocentes.
                        </small>
                    </p>
                </article>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-intro maxwidth--lg text--center">
            <div class="logo--og">
                {% include 'svg/logos/og.svg' %}
            </div>

            <h2 class="title--header title--header--black">
                Mes romans
            </h2>

            <p>Uniquement pour un lectorat <strong>adulte</strong>.</p>
        </section>

        <section class="home-book home-book--primary">
            {% include 'svg/wave.svg' %}

            <div class="content">
                <article class="maxwidth--sm text--sm text--margin-sm">
                    <h2>
                        Les Noces d'Ombre et de Fumée
                    </h2>

                    <p>
                        <em>Les Noces d’Ombre et de Fumée</em> est un one shot (un roman en un seul tome) de <strong>romantasy</strong> d’inspiration Renaissance Italienne.
                    </p>

                    <p>
                        Romance enemies to lovers et slow burn, univers patriarcal, féminisme, complots&hellip; le tout sur fond de mariage arrangé et de magie mortelle pour les femmes.
                    </p>

                    <ul class="list list--white">
                        <li>One shot dispo en ebook, broché et relié</li>

                        <li>Un seul point de vue <small>(celui de Priya, l’héroïne)</small> à la 1ère personne</li>

                        <li>Romantasy <small>(fantasy romantique)</small>
                        </li>

                        <li>Autoédition <small>(disponible sur Amazon et dans certaines librairies)</small>
                        </li>
                    </ul>

                    <div class="buttons">
                        <a href="/lesnoces" class="button button--white button--active-primary">
                            En savoir plus
                        </a>
                    </div>
                </article>

                <img src="/img/medias/nof-paperback.png" class="img--book" alt="Les Noces d'Ombre et de Fumée (format broché)"/>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-book">
            <div class="content">
                <img src="/img/medias/carmidor-t1-t2.png" class="img--book" alt="Les Carmidor tomes 1 et 2 (format broché)"/>

                <article class="maxwidth--sm text--sm text--margin-sm">
                    <h2>
                        Les Carmidor
                    </h2>

                    <p>
                        <em>Les Carmidor</em> est une pentalogie (une saga de 5 tomes) de <strong>fantasy de mœurs</strong>, qui suit l’histoire d’une famille de nobles ambitieux dans un impitoyable monde d’inspiration médiévale.
                    </p>

                    <p>
                        Au programme&nbsp;: séduction, complots, manipulation, ambition, guerres et oppression – le tout sur fond de menace d’engloutissement des terres émergées.
                    </p>

                    <ul class="list list--primary">
                        <li>Saga de 5 tomes</li>

                        <li>Roman choral <small>(plusieurs points de vues)</small> à la 3ème personne</li>

                        <li>Fantasy de mœurs <small>(le sous-genre de Game of Thrones, mais sans les dragons et la magie)</small>
                        </li>

                        <li>Tomes 1 et 2 à paraître le 1<sup>er</sup> avril 2025 aux <strong>éditions Plume Blanche</strong>
                            <small>(tome 1 anciennement édité par Beta Publisher)</small>
                        </li>
                    </ul>

                    <div class="buttons">
                        <a href="https://les-carmidor.fr" class="button button--primary" target="_blank">
                            En savoir plus
                        </a>
                    </div>
                </article>
            </div>
        </section>

        <section class="home-podcasts">
            {% include 'svg/wave.svg' %}
                <article class="maxwidth--sm text--sm text--margin-sm centered">
                    <h2 class="title--header">
                        Podcasts
                    </h2>

                    <p class="maxwidth--sm">
                        Je n'ai pas de podcast à moi, en revanche j'adore être invitée sur ceux des autres&nbsp;! Découvrez tous ceux auxquels j'ai déjà participé&nbsp;:
                    </p>

                    <div class="buttons">
                        <a href="/podcasts" class="button button--white button--active-primary">
                            Tous les podcasts
                        </a>
                    </div>
                </article>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="container">
            <article class="text--center">
                <h2>
                    Mon parcours d'autrice
                </h2>

                <div class="timeline timeline--primary">
                    {% for line in timeline %}
                        <span>{{line.date | safe}}</span>
                        <p>{{line.description | safe }}</p>
                    {% endfor %}
                </div>
            </article>
        </section>

        <section class="home-book home-book--secondary">
            {% include 'svg/wave.svg' %}

            <article class="maxwidth--sm text--sm text--margin-sm centered">
                <h2 class="title--header">
                    Mes services
                </h2>

                <p>
                    En plus de mon travail d'autrice, je propose ponctuellement mes services à d'autres professionnels de l'édition&nbsp;:
                </p>

                <div class="buttons">
                    <a href="/services" class="button button--white button--active-primary">
                        En savoir plus
                    </a>
                </div>
            </article>

            {% include 'svg/wave.svg' %}
        </section>

        {% include 'newsletter.njk' %}
    </main>

    {% include 'footer.njk' %}
{% endblock %}