{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Liens utiles</title>
    <meta name="description" content="Liens utiles pour Olivia Gometz : site web officiel, site web des Carmidor et la newsletter." />
{% endblock %}

{% block content %}
    <header class="banner-gradient banner-gradient--primary links-banner">
        <div class="content">
            <img src="./img/medias/me-circle.png" alt="Photo de profil de Olivia Gometz" />

            <h1>Olivia Gometz</h1>

            <div class="container">
                {% for name, website in websites.network %}
                    <a href="{{website.link}}" class="logo logo--sm logo--white" rel="external" target="_blank" aria-label="{{website.desc}}">
                        {% include "svg/logos/networks/" + name + ".svg" %}
                    </a>
                {% endfor %}
            </div>
        </div>

        {% include 'svg/wave.svg' %}
    </header>

    <section class="links-content">
        <aside class="card card--secondary maxwidth--sm">
            <a href="{{websites.buy.nof.ebook}}" class="button" rel="external" target="_blank">
                Acheter Les Noces
            </a>

            <small><em>Les Noces d'Ombre et de Fumée</em> au format Kindle, broché ou relié</small>
        </aside>

        <div>
            <a href="/" class="button">
                Mon site web
            </a>

            <small>Mon site internet d'autrice, avec mes romans et les infos libraires/salons&nbsp;!</small>
        </div>

        <div>
            <a href="https://les-carmidor.fr" class="button">
                Site des Carmidor
            </a>

            <small>Avis, carte interactive, arbres et bannières des familles&hellip;</small>
        </div>
    </section>

    {% include 'newsletter.njk' %}

    {% include 'footer.njk' %}
{% endblock %}