{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Liens utiles</title>
    <meta name="description" content="Liens utiles pour Olivia Gometz : site web officiel, site web des Carmidor et la newsletter." />
    <meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
    <header class="banner-gradient banner-gradient--primary">
        <div class="container">
            <article class="text--center">
                <img src="/img/medias/me-circle.png" class="img centered" alt="Photo de profil de Olivia Gometz" />

                <h1>Olivia Gometz</h1>

                <div class="buttons">
                    {% for name, website in websites.network %}
                        <a href="{{website.link}}" class="logo logo--sm logo--white" rel="external" target="_blank" aria-label="{{website.desc}}">
                            {% include "svg/logos/networks/" + name + ".svg" %}
                        </a>
                    {% endfor %}
                </div>
            </article>
        </div>

        {% include 'svg/wave.svg' %}
    </header>

    <section class="container">
        <div class="maxwidth--sm text--center">
            <div class="card card--light">
                <div class="buttons">
                    <a href="/" class="button">
                        Mon site web
                    </a>
                </div>

                <small>Mon site internet d’autrice, avec mes romans et les infos dédicaces/salons&nbsp;!</small>
            </div>

            <div class="card card--light">
                <div class="buttons">
                    <a href="https://les-carmidor.fr" class="button">
                        Site des Carmidor
                    </a>
                </div>

                <small>Avis, carte interactive, arbres et bannières des familles&hellip;</small>
            </div>

            <div class="card card--secondary">
                <div class="buttons">
                    <a href="{{websites.buy.nof.ebook}}" class="button" rel="external" target="_blank">
                        Acheter Les Noces
                    </a>
                </div>

                <small><em>Les Noces d’Ombre et de Fumée</em> au format Kindle, broché ou relié</small>
            </div>
        </div>
    </section>

    {% include 'content/newsletter.njk' %}

    {% include 'footer.njk' %}
{% endblock %}