{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Mentions légales</title>
    <meta name="description" content="Hébergeur, cookies et protection de la vie privée sur le site oliviagometz.fr, administré par Olivia Gometz depuis 2023." />
    <meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav()}}

    <main class="legal">
        <section class="banner-gradient banner-gradient--secondary">
            <div class="content text--margin-sm">
                <h1 class="title--header">Mentions légales</h1>

                <p>Site web créé, administré et alimenté par <strong>Olivia Gometz</strong> depuis 2023.</p>

                <ul class="list list--white">
                    <li>Email&nbsp;: contact[at]oliviagometz.fr</li>
                    <li>Adresse&nbsp;: 31200 Toulouse, France</li>
                    <li>SIREN&nbsp;: 922&nbsp;113&nbsp;253</li>
                </ul>
                
                <p><strong>Tous droits réservés.</strong></p>

                <small>Certains photomontages utilisent des stocks provenant d'Unsplash.com.</small>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <aside class="text--center">
            <h2>Hébergeur du site</h2>

            <p><strong>Hostinger</strong></p>
            <p>61 Lordou Vironos Street</p>
            <p>6023 Larnaca</p>
            <p>Chypre</p>
        </aside>
    </main>

    {% include 'footer.njk' %}
{% endblock %}