{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Mentions légales</title>
    <meta name="description" content="Hébergeur, cookies et protection de la vie privée sur le site oliviagometz.fr, administré par Olivia Gometz depuis 2023." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav()}}

    <main class="legal">
        <section class="banner-gradient banner-gradient--secondary">
            <div class="content text--margin-sm">
                <h1 class="title--header">Mentions légales</h1>

                <p>Site web créé, administré et alimenté par Olivia Gometz. Tous droits réservés.</p>

                <small>Certains photomontages utilisent des stocks provenant d'Unsplash.com.</small>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <aside class="text--center">
            <h2>Hébergeur du site</h2>

            <p><strong>Hostinger</strong></p>
            <p>61 Lordou Vironos Street</p>
            <p>6023 Larnaca</p>
            <p>Chypre</p>
        </aside>
    </main>

    {% include 'footer.njk' %}
{% endblock %}