{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Podcasts</title>
    <meta name="description" content="Les podcasts auxquels j'ai participé" />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav()}}

    <main>
        <section class="banner banner-container podcasts-banner">
            <article class="maxwidth--md text--margin-sm">
                <h1 class="title--header">Podcasts</h1>

                <p>
                    Tous les podcasts auxquels on m'a invitée.
                </p>
            </article>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="container">
            <article class="maxwidth--lg text--margin-sm text--center">
                <h2 class="title--normal">Page en construction</h2>

                <p>Y'a plus qu'à lister les podcasts dans lesquels vous pouvez me retrouver (y'en a une bonne dizaine mine de rien). En attendant la mise en production de cette page, n'hésitez pas à suivre les mises à jour sur mes réseaux&nbsp;!</p>

                <div class="container">
                    {% for name, website in websites.network %}
                        <a href="{{website.link}}" class="logo logo--sm logo--secondary" rel="external" target="_blank" aria-label="{{website.desc}}">
                            {% include "svg/logos/networks/" + name + ".svg" %}
                        </a>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}