.legal {
    aside,
    article {
        margin: 0 auto;
        padding: $spaceMD;

        h2 {
            text-align: center;
            margin-top: $spaceSM;
        }
    }

    article {
        small {
            font-size: $fontSizeXXS;
            color: $grey40;
        }
    }
}