.links-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    div,
    .card {
        text-align: center;

        small {
            margin-top: $spaceXS;
            font-size: $fontSizeXXS;
        }
    }

    div {
        padding: $spaceSM $spaceMD;

        small {
            color: $grey50;
        }
    }
}