footer {
    background-color: $black00;
    text-align: center;
    padding-bottom: $spaceMD;

    @media #{$minMD} {
        padding-bottom: $spaceLG;
    }

    small {
        color: $grey30;
        margin: $spaceMD $spaceSM;

        @media #{$minMD} {
            margin-top: 0;
        }
    }

    ul {
        font-size: $fontSizeXS;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media #{$minSM} {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        li {
            @media #{$maxSM} {
                margin: $spaceXS 0;
            }

            @media #{$minSM} {
                display: flex;
                align-items: center;

                &:not(:first-of-type) {
                    &::before {
                        content: '/';
                        color: $grey40;
                        margin: 0 $spaceSM;
                    }
                }
            }

            a {
                font-weight: $normal; // avoid basic link style
                display: inline-block;
                font-size: 0.8em;
                text-transform: uppercase;
                letter-spacing: $spacingMD;
                color: $secondary;
                transition: all $durationSM;

                @media #{$maxSM} {
                    padding: $spaceXS 0;
                }

                &:hover,
                &:active,
                &:focus {
                    color: $secondaryUltraLight;
                    background-color: transparent; // avoid basic link style
                }
            }
        }
    }
}