{% extends "layout.njk" %}

{% block head %}
    <title>Olivia Gometz - Services</title>
    <meta name="description" content="Mes services aux auteurs et autrices" />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav('services')}}

    <main>
        <section class="banner banner-container podcasts-banner">
            <article class="maxwidth--md text--margin-sm">
                <h1 class="title--header">Services</h1>

                <p>
                    Mes services aux auteurs et autrices.
                </p>
            </article>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="container">
            <article class="maxwidth--lg text--margin-sm text--center">
                <h2 class="title--normal">Page en construction</h2>

                <p>À venir quand j'en offrirai. En attendant, je suis là&nbsp;:</p>

                <div class="container">
                    {% for name, website in websites.network %}
                        <a href="{{website.link}}" class="logo logo--sm logo--secondary" rel="external" target="_blank" aria-label="{{website.desc}}">
                            {% include "svg/logos/networks/" + name + ".svg" %}
                        </a>
                    {% endfor %}
                </div>
            </article>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}