<section id="newsletter" class="container">
    <article class="maxwidth--sm text--sm text--margin-sm text--center">
        <h2>
            Recevoir de mes nouvelles
        </h2>

        <p>
            Une newsletter 100% lecteurices, envoyée max une fois par mois (quand je suis régulière) pour partager mes actus les plus importantes en avant-première, et quelques exclusivités&nbsp;!
        </p>

        <div class="ml-embedded" data-form="p3qnJb"></div>
    </article>
</section>