{% macro newsletter(blockTitle='', blockText='', substack='oliviagometz') %}
<section class="container" id="newsletter">
    <article class="maxwidth--sm text--sm text--margin-sm text--center">
        <h2>
            {%- if blockTitle %}
                {{blockTitle | safe}}
            {%- else %}
                Recevoir de mes nouvelles
            {%- endif %}
        </h2>

        <p>
            {%- if blockText %}
                {{blockText | safe}}
            {%- else %}
                Une newsletter 100% lecteurices, envoyée max une fois par mois (et ça, c’est quand je suis régulière) pour partager mes actus les plus importantes en avant-première, et quelques exclusivités&nbsp;!
            {%- endif %}
        </p>
    </article>
</section>

<section class="container">
    <iframe src="https://{{substack}}.substack.com/embed" width="400" height="150" frameborder="0" scrolling="no"></iframe>
</section>
{% endmacro %}