{% macro newsletter(blockTitle='', blockText='') %}
<section id="newsletter" class="container">
    <article class="maxwidth--sm text--sm text--margin-sm text--center">
        <h2>
            {% if blockTitle %}
                {{blockTitle | safe}}
            {% else %}
                Recevoir de mes nouvelles
            {% endif %}
        </h2>

        <p>
            {% if blockText %}
                {{blockText | safe}}
            {% else %}
                Une newsletter 100% lecteurices, envoyée max une fois par mois (quand je suis régulière) pour partager mes actus les plus importantes en avant-première, et quelques exclusivités&nbsp;!
            {% endif %}
        </p>

        <div class="ml-embedded" data-form="p3qnJb"></div>
    </article>
</section>
{% endmacro %}