<p>
    <em>«&nbsp;Je suis une fille d’Ombre, condamnée à perdre la vie en la donnant.&nbsp;»</em>
</p>

<p>
    Sous la République de Fumée, la magie est mortelle pour les femmes&nbsp;: seuls certains hommes en naissent dotés.
<p>

<p>
    Priya est une Recluse&nbsp;: elle appartient à une sororité affranchie des lois patriarcales. Hélas, sa liberté vole en éclats lorsque son père la fiance à Ezio de Ciavi, le dangereux héritier du doge.
<p>

<p>
    Pour protéger ses sœurs, la Recluse n’a pas le choix&nbsp;: elle doit perpétuer la lignée de ses pires ennemis, dût-elle en mourir. Mais au cœur de leur palais corrompu par les mensonges et le vice, Priya est prête à tout pour abattre la redoutable dynastie de Fumée&hellip;
<p>