.montagnes {
    pointer-events: none;
    filter: drop-shadow(0 0 12px #{$secondaryUltraDark});

    path,
    use {
        fill: $secondaryDark;
    }
}

.nom-montagne {
    font-size: 8px;
    font-weight: $bold;
    letter-spacing: $spacingXS;
    text-shadow: 0 0 6px $secondaryLight, 0 0 2px $secondaryUltraLight;
    fill: $secondaryDark;

    g {
        opacity: 0;
    }
}
