<article class="chapter">
    <h2>Prologue</h2>

    <small class="chapter-date">An 1297 après l'Engloutissement</small>

    <p>Un cri aigu résonna dans le palais de Virda. Un cri attendu depuis des mois&nbsp;; un cri vibrant et fragile, à la fois espéré et craint. Un cri reconnaissable entre mille pour la reine Morgat.</p>
    <p>Le deuxième enfant du roi venait de naître.</p>
    <p>Hélas pour la reine, il ne s'agissait pas du sien.</p>
    <p>La jeune femme inspira profondément. Âgée d'à peine vingt-deux hivers, elle vivait depuis plusieurs années dans le royaume de son mari, Todvis, un monarque du sud que son père avait choisi pour elle.</p>
    <p>Un royaume et un mari qui ne seraient jamais siens.</p>
    <p>Morgat posa ses mains sur le rebord de sa fenêtre, qui découpait en ogive l'horizon de collines roussies par les prémices de l'été. La seule teinte ocre des champs, autrefois verdoyants, lui noua la gorge&nbsp;: le duché de Goragna déclinait, et avec lui, la maison Arvagna.</p>
    <p>Les trop nombreuses sécheresses causeraient la ruine de la famille de son époux, Morgat le savait.</p>
    <p>Elle ferma les yeux. Le baiser glacé de la pierre sous ses paumes la ramena cinq ans plus tôt, dans les plaines gelées de son enfance. En cet instant, la Scorvège, la contrée la plus froide du monde, lui paraissait cent fois plus hospitalière que la Rubisie. La chaleur moite de sa capitale l'étouffait comme pour lui rappeler sa condition d'étrangère.</p>
    <p>L'écho lointain des pleurs du nourrisson l'arracha à ses souvenirs. Ses paupières battirent et ses iris bleu pâle rencontrèrent l'éclat aveuglant du soleil printanier.</p>
    <p>Elle s'approcha d'une petite bassine disposée sur une table ouvragée. Évitant le reflet épuisé que lui renvoyait son miroir, elle plongea un linge dans l'eau tiède et tamponna son visage. Ses doigts humides glissèrent dans ses longs cheveux blonds, moins pour les dénouer que pour les décoller de sa nuque moite, puis elle quitta les appartements conjugaux.</p>
    <p>Morgat traversa le palais sans prêter attention aux courtisans qui s'inclinaient sur son passage. Les sourires hypocrites se succédaient. Nul n'ignorait sa disgrâce&nbsp;: contrainte d'accepter la présence d'Illinor Octambre, la maîtresse royale sur qui reposait l'espoir d'une descendance masculine, sa fierté ne tenait plus qu'à sa couronne.</p>
    <p>Elle n'avait su donner qu'une seule fille au roi, qui approchait de la quarantaine&nbsp;: un héritier devenait une nécessité pressante.</p>
    <p>— Ma reine, susurra un jeune noble tandis que claquait sa cape noire.</p>
    <p>Morgat serra la mâchoire. De tous les rictus effrontés, celui de Rehard Virdemis la révoltait plus que nul autre. Du haut de ses dix-neuf ans, le neveu du duc de Lorsis avait l'audace de la dévisager avec un savant mélange de moquerie et de concupiscence.</p>
    <p>— Quelle belle journée, ne trouvez-vous pas&nbsp;? articula-t-il avec condescendance.</p>
    <p>La langue chantante parlée dans le royaume de son époux recelait encore de nombreux mystères pour la Scorvégienne, mais elle avait bien vite appris à déceler la tonalité du mépris rubisien.</p>
    <p>— Radieuse, ironisa-t-elle de son accent rocailleux. Vous devriez en profiter pour prendre l'air.</p>
    <p>Les lèvres de Rehard s'étirèrent avant qu'elle ne s'éloigne de l'insolent.</p>
    <p>L'insolence. Voilà bien ce qui caractérisait les Virdemis et leurs alliés, les Carmidor, que le commerce maritime enrichissait depuis plusieurs décennies. Les deux clans estaliens n'avaient jamais été aussi influents.</p>
    <p>Influents et dangereux.</p>
    <p>Morgat arriva devant la chambre de la maîtresse royale. Elle se composa une mine effacée, indéchiffrable, pour dissimuler les battements effrénés de son cœur, puis entra d'un pas altier.</p>
    <p>Le lit à baldaquin portait les stigmates de l'accouchement&nbsp;: les draps teintés de sang pendaient de chaque côté du matelas de plumes, et un petit tas de linges souillés gisait au centre de la couche.</p>
    <p>Trois sages-femmes s'activaient autour d'Illinor, dont les mèches brunes se mêlaient à la sueur de ses tempes et de son front. La mine radieuse, elle admirait les traits du nouveau-né niché dans ses bras. Elle leva des yeux triomphants vers la reine et la salua sans contenir sa joie&nbsp;:</p>
    <p>— Votre Majesté.</p>
    <p>Son regard en disait plus que n'importe quel discours.</p>
    <p>— C'est un garçon, jubila la favorite. Un beau garçon en parfaite santé. Loués soient les dieux&nbsp;!</p>
    <p>Aucune réponse ne parvint à s'échapper des lèvres tremblantes de Morgat.</p>
    <p>La porte s'ouvrit de nouveau. Todvis pénétra dans la pièce et bouscula son épouse pour se précipiter au chevet de sa maîtresse.</p>
    <p>Peinant à retenir ses larmes, la reine observa, présente et invisible, son mari prendre l'enfant dans ses bras et proclamer avec émotion&nbsp;:</p>
    <p>— Mon fils, ton nom est Tornos.</p>
    <p>Le nourrisson se mit à pleurer. Todvis l'embrassa sur le front et le rendit à Illinor.</p>
    <p>— Tornos Arvagna, ajouta-t-elle en pressant sa paume.</p>
    <p>Une sourde colère s'empara de Morgat.</p>
    <p>— Tornos. Seulement Tornos, pesta-t-elle. Les bâtards ne portent pas de nom.</p>
    <p>Le souverain leva vers elle un visage inexpressif. Incapable d'en supporter davantage, la reine humiliée fit volte-face et claqua la porte de la chambre. Elle maudit les dieux, sa famille, son époux qui ne l'était plus, sa couronne qui lui échappait.</p>
    <p>Une heure durant, l'ire de la reine fit trembler le palais.</p>
    <p>La Scorvégienne regrettait infiniment les coutumes de ses ancêtres, dont les lois lui auraient permis de trancher la gorge de l'impudente qui avait séduit son mari.</p>
    <p>Mais pire encore que les affronts répétés qu'elle n'avait d'autre choix que de subir en silence, elle craignait désormais pour sa fille. En ces temps troublés, personne ne verrait d'un bon œil qu'une femme monte sur le trône. Ce bâtard représentait une menace.</p>
    <p>La colère céda la place à l'angoisse.</p>
    <p>Elle emprunta un escalier menant aux appartements princiers et y pénétra sans frapper.</p>
    <p>À l'autre bout de l'antichambre, la princesse Dista Arvagna, sa fille de trois ans, lui tournait le dos. Un cheval de bois à la main, elle babillait à l'intention de sa gouvernante. Agenouillée près d'elle, la domestique hochait la tête avec sérieux tandis que l'enfant lui racontait l'histoire de son jouet.</p>
    <p>En dépit de ses inquiétudes, Morgat esquissa un maigre sourire. L'âge de l'innocence n'était pas encore révolu pour la princesse. Hélas, il le serait bientôt.</p>
    <p>Apercevant la reine, la gouvernante se releva et s'inclina. Dista se retourna et son visage s'éclaira.</p>
    <p>— Maman&nbsp;! s'écria-t-elle.</p>
    <p>La petite accourut dans sa direction et se jeta dans ses bras. Morgat la serra contre elle et déposa un baiser dans ses boucles blondes. Sa fille lui ressemblait trait pour trait&nbsp;: la même peau blanche, les mêmes cheveux or pâle, les mêmes yeux azurins.</p>
    <p>— J'allais expliquer à la princesse qu'elle avait un petit frère, exposa la domestique.</p>
    <p>La reine lui darda un regard chargé d'éclairs.</p>
    <p>— Oseriez-vous dire que la princesse Dista Arvagna, héritière du trône de Rubisie, ne vaut pas mieux qu'un vulgaire bâtard&nbsp;?</p>
    <p>La gouvernante bredouilla&nbsp;:</p>
    <p>— Non, Majesté, bien sûr que non&hellip;</p>
    <p>— Le bâtard du roi n'est pas son frère.</p>
    <p>Alors que la servante se confondait en excuses, elle reporta son attention sur sa fille. Elle glissa une mèche rebelle derrière son oreille et murmura en scorvégien&nbsp;:</p>
    <p>— Nous allons rendre visite à ton père.</p>
    <p>Sans un mot pour la gouvernante, la reine et la princesse sortirent de la pouponnière. À cette heure, Morgat savait où retrouver son mari&nbsp;: comme chaque matin, il officiait dans la salle du trône, entouré de ses conseillers et de courtisans.</p>
    <p>Nul doute qu'il y annoncerait la naissance de son bâtard.</p>
    <p>Mais elle n'avait pas l'intention de le laisser oublier qu'il avait déjà une héritière. La cour tout entière devait s'en souvenir.</p>
    <p>Morgat attrapa la fillette sous les aisselles et la jucha sur sa hanche. Elle prit une profonde inspiration, releva le menton et fit irruption dans la salle du trône.</p>
    <p>Les yeux rivés sur Todvis, elle fendit la foule sous une vague de révérences.</p>
    <p>D'un pas que rien ne semblait pouvoir arrêter, elle arriva au bas des escaliers menant au trône et en grimpa les premières marches.</p>
    <p>Un affront que, reine ou non, Todvis ne lui pardonnerait pas. Les paupières plissées de contrariété, il observa sa jeune épouse se retourner vers ses sujets.</p>
    <p>— Nobles rubisiens&nbsp;! déclama-t-elle avec force. Vous célébrez en ce jour la naissance de Tornos, le fils illégitime de Sa Majesté le roi Todvis&nbsp;VII. Mais réjouissez-vous&nbsp;! Aucun bâtard ne montera sur ce trône.</p>
    <p>Sa voix aux accents rugueux, caractéristiques de sa langue maternelle, emplit la grande salle plongée dans un silence absolu.</p>
    <p>— Aucun fils sans nom ne régnera sur vous, vous tous qui en portez de très prestigieux, insista-t-elle avec véhémence.</p>
    <p>Suspendue à ses lèvres, la noblesse paraissait avoir oublié comment respirer.</p>
    <p>— La princesse Dista Arvagna montera sur le trône. Et je vous en fais le serment&nbsp;: elle deviendra la plus grande souveraine que ce royaume ait jamais connue&nbsp;!</p>
    <p>Défiant quiconque de la détromper, la reine dévisagea les courtisans. Un à un, ils plièrent sous le feu de son regard glacé. Des applaudissements timides retentirent et enflèrent peu à peu jusqu'à saisir toute l'assemblée.</p>
    <p>Morgat se retourna vers son époux. Le monarque frémissait de fureur, mais ce n'était rien en comparaison de l'implacable détermination qui habitait la reine. Elle serra Dista contre elle comme pour lui insuffler la force dont elle aurait un jour besoin.</p>
    <p>La jeune femme combattit en silence la colère de son mari. Sans un mot, ses prunelles lui rendirent coup pour coup les blessures qu'il lui avait infligées.</p>
    <p>Todvis réalisa alors qu'il avait perdu la partie. Morgat venait de lui porter l'estocade.</p>
    <p>Personne d'autre que Dista Arvagna ne lui succèderait sur le trône de Rubisie. Sa reine était prête à tout pour s'en assurer.</p>
</article>