<footer>
    {% include 'svg/wave.svg' %}

    <small>Olivia Gometz, 2023 – {{version}} – Tous droits réservés</small>

    <ul>
        <li>
            <a href="/mentions-legales">
                Mentions légales
            </a>
        </li>

        <li>
            <a href="/liens">
                Liens
            </a>
        </li>
    </ul>
</footer>