<footer>
    {% include 'svg/wave.svg' %}

    <small>Olivia Gometz, 2021 – {{version}} – Tous droits réservés</small>

    <ul>
        <li>
            <a href="/mentions-legales">
                Mentions légales
            </a>
        </li>

        <li>
            <a href="/trigger-warnings">
                Trigger warnings
            </a>
        </li>
    </ul>
</footer>