{% macro nav(activePage='') %}
<nav>
    <button type="button" class="hamburger" title="Menu principal">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <a href="/" class="home" title="Accueil">
        {% include 'svg/og.svg' %}
    </a>

    <div class="overlay"></div>

    {%
        set links = {
            home: {
                name: 'Accueil',
                url: '/'
            },
            nof: {
                name: 'Les Noces',
                url: '/lesnoces'
            },
            carmidor: {
                name: 'Les Carmidor',
                url: 'https://les-carmidor.fr/'
            },
            meetings: {
                name: 'Dédicaces & rencontres',
                url: '/dedicaces-et-rencontres'
            },
            services: {
                name: 'Services',
                url: '/services'
            }
        }
    %}

    <ul>
        {% for id, link in links %}
            <li>
                <a
                    href="{{ link.url }}"
                    class="{% if link.button %}button--active-primary button button{% else %}link link{% endif %}--white{%if activePage == id %} active{% endif %}"
                    {% if 'https://' in link.url %}rel="external" target="_blank"{% endif %}
                >
                    {{ link.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}