<section class="home-newsletter" id="newsletter">
    <article class="maxwidth--sm text--sm text--margin-sm centered">
        <h2 class="title--normal">
            Recevoir de mes nouvelles
        </h2>

        <p class="maxwidth--sm">
            Une newsletter 100% lecteurices, envoyée max une fois par mois (quand je suis régulière) pour partager mes actus les plus importantes en avant-première, et quelques exclusivités&nbsp;!
        </p>

        <div class="ml-embedded" data-form="p3qnJb"></div>
    </article>
</section>